<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center" [routerLink]="['/folder']">
    <ion-icon name="navigate-outline" size="large" class="searchIcon" [routerLink]="['/local']"></ion-icon>
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon" [routerLink]="['/product-list']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/produto2.jpg">
      <ion-card-title>212 VIP Rose</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      REF: 2738462<br>
      R$ 60,00<br>
    </ion-card-content>
  </ion-card>

  <div class="textoProduto1">
    <ion-label>Quantidade</ion-label>
  </div>

  <br>
  <input type="number" value="1" class="inputProduto1">

  <div class="buttonProduto1">
    <ion-button color="dark" size="large" [routerLink]="['/checkout']">Comprar</ion-button>
  </div>

</ion-content>
