<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center">
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon" [routerLink]="['/product-list']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>Revendedores</ion-card-title>
  </ion-card-header>
  <ion-searchbar id="search-revendedor"></ion-searchbar>
  
  <div id="map"></div>
    
    <ion-card>
    <ion-card-content>
      Ana Machado<br>
      1.3 km<br>
      (11)98877-6655<br>
    </ion-card-content>
    </ion-card>
    
    <ion-card>
    <ion-card-content>
      Jorge Oliveira Junior<br>
      2.1 km<br>
      (11)96655-8877<br>
    </ion-card-content>
    </ion-card>
  

  
</ion-content>
