<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center">
    <ion-icon name="search-outline" size="large" class="searchIcon"></ion-icon>
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon" [routerLink]="['/product-list']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <img src="assets/home.png" class="imagem">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/ck.jpg" class="imagem2"  [routerLink]="['/produto1']">
        <ion-text class="text2"><strong>Calvin Klein One<br></strong></ion-text>
        <ion-text class="text2">REF: 1723693<br></ion-text>
        <ion-text>R$ 50,00</ion-text>
      </ion-col>
      <ion-col>
        <img src="assets/produto2.jpg" class="imagem2" [routerLink]="['/produto2']"><br>
        <ion-text><strong>212 VIP Rose<br></strong></ion-text>
        <ion-text class="text2">REF: 2738462<br></ion-text>
        <ion-text>R$ 60,00</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>