<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="produto1"></ion-back-button>
      </ion-buttons>

    <img src="assets/LOGO.png" class="logo ion-image-center">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <br>
  
  <ion-text class="text1"><strong>Aromatizador Lavanda<br></strong></ion-text>
  <ion-text class="text2">REF: 9922774<br></ion-text>
  <br>
  <ion-text class="text3"><strong>R$30,00<br></strong></ion-text>
  <br>
  <ion-text class="text3">Quantidade<br></ion-text>
  <img src="assets/aroma2.jpg" class="imagem-compra">
  <textarea class="textarea1" cols="8" rows="2"></textarea>
  
  <br>
  <br>
  <ion-text class="text4">Número do Cartão<br></ion-text>
  <textarea class="textarea2" cols="30" rows="1"></textarea>
  <br>

  <img src="assets/visa1.png" class="visa">
  <img src="assets/elo.png" class="elo">
  <img src="assets/mastercard.png" class="mastercard">
  <img src="assets/amex.png" class="amex">
  <img src="assets/hiper.png" class="hiper">

  <br>
  <br>
  <br>
  <ion-text class="text5">Frete<br></ion-text>
  <textarea class="textarea2" cols="30" rows="1"></textarea>

  <ion-button class="finalizar-compra" color="dark">Finalizar Compra</ion-button>


