<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/local"></ion-back-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center">
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon" [routerLink]="['/product-list']"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-revendedor-form [revendedor]="newRevendedor" (saved)="addNewRevendedor()"></app-revendedor-form>
  <h1 class="ion-text-center"><strong>Cadastro de revendedor:</strong></h1>

  <ion-item>
    <ion-label>Nome Completo</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Bairro</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">CEP</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cidade</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Estado</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button color="success" class="buttonCenter">Success</ion-button>

</ion-content>