<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center">
    <ion-icon name="navigate-outline" size="large" class="searchIcon" [routerLink]="['/local']"></ion-icon>
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-end">
    <ion-col>
      <img src="assets/aroma2.jpg">
    </ion-col>
    <ion-col>
        <ion-card-title><h2><strong>Aromatizador Lavanda</strong></h2></ion-card-title>
        <ion-text><h4>REF: 9922774</h4></ion-text>
        <ion-text><h4>R$ 30,00</h4></ion-text>
      <div class="buttonProduto1">
        <ion-button color="dark" size="medium"  [routerLink]="['/produto3']">Conferir</ion-button>
      </div>
    </ion-col>
  </ion-row>
  
  <br><br>
  
  <ion-row class="ion-align-items-end">
    <ion-col>
      <img src="assets/aroma3.jpg">
    </ion-col>
    <ion-col>
        <ion-card-title><h2><strong>Aromatizador Lírio Verde</strong></h2></ion-card-title>
        <ion-text><h4>REF: 4477663</h4></ion-text>
        <ion-text><h4>R$ 30,00</h4></ion-text>
      <div class="buttonProduto1">
        <ion-button color="dark" size="medium"  [routerLink]="['/produto4']">Conferir</ion-button>
      </div>
    </ion-col>
  </ion-row>
  
  <br><br>
  
  <ion-row class="ion-align-items-end">
    <ion-col>
      <img src="assets/aroma1.jpg">
    </ion-col>
    <ion-col>
        <ion-card-title><h2><strong>Aromatizador Talco</strong></h2></ion-card-title>
        <ion-text><h4>REF: 9988776</h4></ion-text>
        <ion-text><h4>R$ 30,00</h4></ion-text>
      <div class="buttonProduto1">
        <ion-button color="dark" size="medium">Conferir</ion-button>
      </div>
    </ion-col>
  </ion-row>

  <br><br>

</ion-content>