<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/local"></ion-back-button>
    </ion-buttons>
    <img src="assets/LOGO.png" class="logo ion-image-center">
    <ion-icon name="bag-handle-outline" size="large" class="checkoutIcon" [routerLink]="['/product-list']"></ion-icon>
  </ion-toolbar>
</ion-header>

      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Detalhes do contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" class="ion-margin-end">
        </ion-col>
        <ion-col>
          <h1>{{revendedor.cep}}</h1>
          <h2>{{revendedor.name}}</h2>
          <h3>{{revendedor.phone}}</h3>
          <h4>{{revendedor.distance}}</h4>
        </ion-col>
      </ion-row>

      <ion-button (click)="closeModal()" expand="block" fill="clear">
        <ion-icon slot="start" name="close"></ion-icon>
        Fechar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>